body, html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(124 101 243);
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.task-container,
.ul-container{
    max-width: 700px;
    margin: auto;
}
main{
    padding: 30px;
}
.add-task-section{
    padding:20px 40px;
}
.task-section{
    padding: 20px 40px;
}
.task{
    background-color: #050B42;
    border-radius: 10px;
    display: flex;
    align-items: center;
} 
 h2{
    font-size: 30px;
}
p{
    margin-bottom: 0;
} 



input[type="text"]{
    padding: 20px;
    width: 75%;
    border-radius: 5px;
    border: none;
}
.add-button,button {
    padding: 20px;
    width: 22%;
    background: #050B42;
    border: none;
    color: #fff;
    border-radius: 8px;
}
button{
    width: 40%;
    padding: 10px 5px;
}
input[type="checkbox"]{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
}
/* ul li p.checked{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: line-through;
} */
.completed-task{
    display: flex;
    color: #FCE305;
}
.fa{
    color: red;
    font-size: 20px !important;
}
.add-button .active{
    background-color: #0d1ebd;
}
.complete_btn{
    background: rgb(67, 179, 67);
} 
ul li.checked{
    background: #ddd;
    text-decoration: line-through;
}