body, html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #2506e3;
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.task-container{
    max-width: 700px;
    margin: auto;
}
main{
    padding: 30px;
}
.add-task-section{
    padding:20px 40px;
}
.task-section{
    padding: 20px 40px;
}
.task{
    background-color: #050B42;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
h2{
    font-size: 30px;
}
p{
    margin-bottom: 0;
}
input[type="text"]{
    padding: 20px;
    width: 75%;
    border-radius: 5px;
    border: none;
}
button {
    padding: 20px;
    width: 22%;
    background: #050B42;
    border: none;
    color: #fff;
    border-radius: 8px;
}
input[type="checkbox"]{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
}
.completed-task{
    display: flex;
    color: #FCE305;
}
.fa{
    color: red;
}
/* .footer-section{
    background-color:#050B42;
    height: 90px;
} */